.background {
    background-image: url("/assets/conference.JPG");
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 0;
    margin: auto 0;
    height: 600px;
    z-index:0;
}

.biobox {
    background-color: #d5ddfd;
    padding-top: 10px;
    margin-top:0px;	
    margin-left:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 540px;
    height: 185px;
    float: left;
    z-index:2;		
}
 
.biobox h2 {
    color: #4537c2;    
}

#intro {
    float: left;
    padding-left: 5px;
    width: 10%;
    text-align: center;
    margin-right: 5px;
}  

#main-bio {
    float: right;
    margin-left: 50px;
    margin-top: 0;
    width: 72%;
    text-align: center;
    justify-content: center;
}  
#bio-image {
    float: left;
    width: 150px;
    border-radius: 10px;
}   

  @media screen and (max-width: 1100px) {
    body {
        padding: 10px;
    } 
  }
    
  @media screen and (max-width: 945px) {
    header {
        text-align: center;
        margin:0;
    }    
    header nav {
        text-align: center;
        float: none;
        margin-right:auto;
        margin-left:auto;
        width:510px;
    }
    main {
        margin-top: 170px;
      }  
  }
  
  
  @media screen and (max-width: 840px) {
    main {
      margin-top: 170px;
    }
    .container{
        margin:auto;
    }
    #background-picture {
        width: 100%;
        height: 100%;
        margin-top: 355px;
    }        
  }
  
  @media screen and (max-width: 760px) {
    header nav {
        font-size: 18px;
    }    
  }     
  
  @media screen and (max-width: 600px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        margin-left: 0px;
    }
  }
