.card {
  background: transparent;
  border-radius: 2px;
  height: 320px;
  margin: 1.2rem;
  position: relative;
  width: 280px;
  text-align: left;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
}

.card > .img-container > img {
  width: 100%
}

.card > .content {
  background: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

